<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/58b83eaa-8fce-4e4c-9dee-bd74b5d09c21/resourcegroups/Fall2024-Assignment1-wgwilber-proj20240917130355ResourceGroup/providers/Microsoft.Web/sites/Fall2024-Assignment1-wgwilber-proj20240917130355</ResourceId>
    <ResourceGroup>Fall2024-Assignment1-wgwilber-proj20240917130355ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fall2024-assignment1-wgwilber-proj20240917130355.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>85f0afdc-2204-4220-b846-903c7a0f2bee</ProjectGuid>
    <MSDeployServiceURL>fall2024-assignment1-wgwilber-proj20240917130355.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Fall2024-Assignment1-wgwilber-proj20240917130355</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Fall2024-Assignment1-wgwilber-proj20240917130355</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>